@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@200;300;400;700&family=Noto+Sans:wght@300;400;700&family=Nunito+Sans:wght@200;300;400;700&display=swap');

:root {
  --max-width: 640px;
  --black: #101010;
  --gray-light: #00000010;
  --gray: #00000030;
  --gray-font: #00000060;
}

[hidden] {
  display: none;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 20px;
  font-weight: 400;
  font-size: 15px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}
section {
  margin: auto 0;
}
input {
  font-size: inherit;
}
button {
  cursor: pointer;
  font-weight: 600;
  padding: 6px 12px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  svg {
    height: 20px;
  }
}
button:active {
  transform: translateY(-.5px);
}
button:disabled {
  opacity: .3;
}
button.secondary {
  border-radius: 999px;
  background-color: var(--gray-light);
  color: var(--black);
}
button.primary {
  border-radius: 999px;
  background-color: var(--black);
  color: white;
  svg {
    stroke: white;
  }
}
.thin {
  border-radius: 999px;
  border: 2px solid;
  padding: 5px 10px;
}