name: Update Gists Metadata

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Fetch gists metadata
        env:
          GITHUB_TOKEN: ${{ secrets.GIST_TOKEN }}
        run: |
          curl -H "Authorization: token $GITHUB_TOKEN" \
          "https://api.github.com/gists?per_page=10000" \
          | jq '[.[] | select(.description != null and (.description | contains("#lestajs"))) | {
              id,
              html_url,
              description: (.description | gsub("#[a-zA-Z0-9_]+"; "") | sub("^\\s+"; "") | sub("\\s+$"; "")),
              hashtags: (.description 
                | [match("#[a-zA-Z0-9_]+"; "g") | .string | sub("^#"; "") | ascii_downcase]
                | unique
              ),
              created_at,
              updated_at,
              owner: .owner.login,
              comments
            }] | sort_by(.created_at) | reverse' \
          > temp.json
          
          jq '
            {
              total: length,
              updated_at: now | todateiso8601,
              hashtags: (map(.hashtags[]) | unique),
              gists: .
            }
          ' temp.json > gists-metadata.json

          rm temp.json

      - name: Commit and push changes
        run: |
          git config --global user.email sashakosyak@yahoo.com
          git config --global user.name kossyak
          git add gists-metadata.json
          git commit -m "Update gists metadata $(date +'%Y-%m-%d')"
          git push origin main
